
.property-label.id.number id:
div ng-bind="page.id"
  
.property-label.order_index.number order_index:
div ng-bind="page.order_index"
  
.property-label.subject subject:
div ng-bind="page.subject"
  
.property-label.body.textarea body:
div ng-bind="page.body"
  